<h1>Encode Your text</h1>

<p>Enter the phrase or sentence you would like to encode in the box below 
and select a letter to use as your Encryption Key.</p>
<p>Important: Please select a letter that is not in the message you want to encode</p>
<p>Also, please keep in mind that this type of cipher can use whitespace as an encoded character,
so be mindful of that when you get your results. If you want to try decoding the message, you 
should be careful to copy the whitespaces, too</p>


<%= render 'encode_form' %>

<% if @encoded_text.present? %>
<div class="card my-5">
    <div class="card-body my-2">
      <p class='card-title fw-bold'>Here is your encoded text:</p>
      <p class='card-text fs-5'><%= @encoded_text %></p>
    </div>
  </div>
<% end %>

<p>Want to see how the decoding part works?</p>
<%= link_to "Decode", decode_xor_index_path, class:"btn btn-dark btn-lg" %>