<h1>Encode Your text</h1>

<p>Enter the text you would like to encode in the box below. 
Afterwards, select a word you would like to use for your encryption key
and write it in the box labeled Encryption Key</p>

<%= render 'encode_form' %>

<% if @encoded_text.present? %>
<div class="card my-5">
    <div class="card-body my-2">
      <p class='card-title fw-bold'>Here is your encoded text:</p>
      <p class='card-text fs-5'><%= @encoded_text %></p>
    </div>
  </div>
<% end %>