<h1>Encode Your text</h1>

<p>Enter the phrase or sentence you would like to encode in the box below 
and select a word to use as your Encryption Key.</p>
<p>The XOR cipher, operating at the bit level (the smallest unit of digital data, representing a binary value 
of 0 or 1), requires a larger number of bits to generate meaningful patterns. By using phrases or sentences, 
XOR operations involve more bits, thereby increasing the likelihood of producing recognizable and meaningful 
results during both encoding and decoding processes.</p>

<%= render 'encode_form' %>

<% if @encoded_text.present? %>
<div class="card my-5">
    <div class="card-body my-2">
      <p class='card-title fw-bold'>Here is your encoded text:</p>
      <p class='card-text fs-5'><%= @encoded_text %></p>
    </div>
  </div>
<% end %>