<%= form_with(model: @caesar, url: decode_bacon_index_path, local: true, data: { turbo: false }) do |f| %>
                <div class="row form-group">
                    <%= f.label :to_decode, "Text to decode", class:"col-2 col-form-label form-label-text fw-bold" %>
                    <div class="col-10">
                        <%= f.text_area :to_decode, rows:10, class:"form-control shadow", placeholder:"Text to decode" %>
                    </div>
                </div>

        <%= f.submit "Decode", class: "btn btn-outline-success" %>
<% end %>