<%= link_to "Encode", encode_bacon_index_path, class:"btn btn-dark btn-lg" %>
<%= link_to "Decode", decode_bacon_index_path, class:"btn btn-dark btn-lg" %>
PLAY

<h1 class="mt-5">About the Bacon Cipher</h1>
<div class="container mt-4">
  <h3>What is the Bacon Cipher?</h3>
  <p>The Bacon Cipher, also known as the Baconian cipher, is an encryption technique that dates back 
  to the early 17th century. Named after Sir Francis Bacon, this cipher operates on the principle of 
  binary encoding.</p>

  <h3>Traditional Bacon Cipher</h3>
  <p>In its traditional form, the Bacon Cipher uses a 5-bit binary system to encode each letter of 
  the alphabet. The alphabet is divided into two groups, typically denoted by 'A' and 'B,' and each 
  letter is represented by a unique combination of 'A' and 'B.' The encoded message consists of 
  sequences of 'A' and 'B,' making it more resistant to simple frequency analysis.</p>

  <h3>Modern Bacon Cipher</h3>
  <p>My version of the Bacon Cipher introduces a modern twist by using Unicode characters 
  converted to binary code for encoding. This adaptation enhances the complexity and security of the 
  cipher. Instead of relying on simple 'A' and 'B' representations, the modern Bacon Cipher uses 
  binary sequences derived from Unicode characters to encode the message.</p>

  <h3>How does it work?</h3>
  <p>The modern Bacon Cipher operates by converting Unicode characters into binary code and then 
  grouping the binary sequences into blocks. Each block corresponds to a character or symbol, creating 
  a unique encoding for the entire message. The use of Unicode adds a layer of complexity, making the
   cipher more robust against various cryptographic attacks.</p>

  <h3>Learn More</h3>
  <p>If you want to explore more about the Bacon Cipher, consider checking out these resources:</p>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Bacon%27s_cipher" target="_blank">Wikipedia: Bacon's Cipher</a></li>
    <li><a href="https://www.britannica.com/topic/cryptography/The-Bacons-cipher" target="_blank">Encyclopedia Britannica: The Bacon's Cipher</a></li>
  </ul>
</div>
<br>
<h4>Ready to try it?</h4>

<%= link_to "Encode", encode_caesar_index_path, class:"btn btn-dark btn-lg" %>
<%= link_to "Decode", decode_caesar_index_path, class:"btn btn-dark btn-lg" %>
PLAY