<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciphers</title>
</head>
<body>
    <h1 class="">Welcome! What would you like to do?</h1>
    <h3>Learn about the Caesar Cipher</h3>
    <h3>Learn about Vignere's Cipher</h3>
    <h3>Learn about The Playfair Cipher</h3>
    <h3>Learn about The Enigma Machine</h3>
    <h2>Learn about Elliptic Curve Cryptography</h3>
    <h3>Learn about AES</h3>
    <h3>Learn about Hybrid Cryptosystems</h3>
    <h3>Learn about the Diffie-Hellman algorithm</h3>
    <h3>Learn about RSA</h3>


    <h2></h2>
    <h2></h2>
</body>
</html>