<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vignere's Cipher</title>
</head>
<body>
    <h1 class="">Welcome! What would you like to do?</h1>
    <h2>Learn about the history of ciphers and encryption</h2>
    <h2>Learn about Vignere's Cipher</h2>
    <h2>Learn about Elliptic Curve Cryptography</h2>
    <h2>Learn about AES</h2>
    <h2>Learn about Hybrid Cryptosystems</h2>
    <h2>Learn about the Diffie-Hellman algorithm</h2>
    <h2>Learn about RSA</h2>


    <h2></h2>
    <h2></h2>
</body>
</html>